<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading"><strong>Evictions Are Detrimental to Public Health</strong></h3>
                <hr class="light">
                
                <br/>
                
                <p class="text-faded">On September 2, 2020, CDC Director Dr. Robert Redfield signed a declaration determining that 
                    the eviction of tenants could be detrimental to public health
                    control measures to slow the spread of SARS-Cov-2, the virus that causes COVID-19.</p>

                <p class="text-faded">Since the start of the pandemic, Local, State, and Federal Governments have put 
                    temporary moratoriums on evictions. Presently, lawmakers and 
                    activists are trying to 
                    extend these temporary protections.</p>
                
                <br/>

                <h3 class="section-heading"><strong>Our project aims to understand and build on this work to help Repair Exploitative Systems of Eviction</strong></h3>
                
                <br/>
                
                <p class="text-faded">See the complete project below.</p>
            </div>
        </div>
    </div>
</section>
