<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Additional Resrouces</h2>
                <hr class="primary">
                <p>Below are links that lead to a speadsheet with resources from social services organizations, federal, 
                    state, and local governments as well as a youtube video that describes the eviction process.</p>
                <br/>
                <p>If you know of additional resources available to the public, please feel free to email by clicking the link below. The re.</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://docs.google.com/spreadsheets/d/1NoPwgsjwdT5f8hbtTpGZhR-H8LcVXhjuAw_BC2otaLU/edit?usp=sharing">
                    <i class="fa fa-table fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.spreadsheet }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://youtu.be/mpC3wF9yNwo">
                <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.youtube }}</p>
                </a>
            </div>
    
        </div>
    </section>



