<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Additional Resources</h2>
                <hr class="primary">
                <p>Below are links that lead to a speadsheet with resources from different governmental agencies and social services organizations, 
                the bibliography/references used for research and design development as well as a youtube video that describes the eviction process.</p>
                <br/>
                <p>If you know of additional resources available to tenants and the public, please feel free to email us to add to database by clicking the envelope icon below.</p>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://docs.google.com/spreadsheets/d/1NoPwgsjwdT5f8hbtTpGZhR-H8LcVXhjuAw_BC2otaLU/edit?usp=sharing">
                    <i class="fa fa-table fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.spreadsheet }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://docs.google.com/spreadsheets/d/15syHsZTVpTtso-kdHMF4FMsLV29-CaGZcm1zpKu-W5A/edit#gid=0">
                <i class="fa fa-list fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.spreadsheet }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:stayingpower.antieviction@gmail.com">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://youtu.be/mpC3wF9yNwo">
                <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.youtube }}</p>
                </a>
            </div>
    
        </div>
    </section>



