<header>
    <div class="header-content">
        <div class="header-content-inner">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h1>Staying Power:</h1>
            <h1>An Anti-Eviction Toolkit</h1>
            <h4>By</h4>
            <h4>Sarah Zamler & Nelson De Jesus Ubri</h4>
            <br/>
        </div>
    </div>
</header>
