<header>
    <div class="header-content">
        <div class="header-content-inner">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h1>Richard Plunz Work:</h1>
            <h4>Publication - Research - Teaching</h4>
            <br/>
            <br/>

            <img src="img/profile.png" alt="Paris" style="width:30%;">
            <br/>
           
        </div>
    </div>
</header>
