<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-4">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/housingformpublicpolicy-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Housing Form and Public Policy in the United States
                            </div>
                            <div class="project-category text-faded">
                                ...
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/habiternewyork-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Habiter New York
                            </div>
                            <div class="project-category text-faded">
                                La Forme Institutionalisée de l'Habitat New Yorkais, 1850-1950
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/historyhousingnewyork-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                A History of Housing in New York City
                            </div>
                            <div class="project-category text-faded">
                                ...
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/twoadirondack-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Two Adirondack Hamlets in History:
                            </div>
                            <div class="project-category text-faded">
                                Keene and Keene Valley
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/theurbanlifeworld-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                The Urban Lifeworld
                            </div>
                            <div class="project-category text-faded">
                                Formation Perception Representation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/aftershopping-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                After Shopping
                            </div>
                            <div class="project-category text-faded">
                                Situation Salzburg Strategies for the Speckgurtel
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/urbanclimatechangecross-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Urban Climate Change Crossroads
                            </div>
                            <div class="project-category text-faded">
                                ...
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/turgutreis-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Turgutreis, 1974
                            </div>
                            <div class="project-category text-faded">
                                ...
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/cityriffs-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                City Riffs
                            </div>
                            <div class="project-category text-faded">
                                Urbanism Ecology Place
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>