<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-6">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/newrochelle-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Alternative Futures for New Rochelle
                            </div>
                            <div class="project-category text-faded">
                                The Next Generation Live/Work City
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/potentialforurbanagriculture-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                The Potential forUrban Agriculture in New York City
                            </div>
                            <div class="project-category text-faded">
                                Growing Capacity, Food Security, & Green Infrastructure
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s3-campaign.html" class="portfolio-box">
                    <img src="img/portfolio/gamechangersforpuertoplata-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Game Changers for Puerto Plata
                            </div>
                            <div class="project-category text-faded">
                                Design Scenarios for Urban and Rural Communities
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s4-memory.html" class="portfolio-box">
                    <img src="img/portfolio/destinationsudhaiti-thumbnail.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Destination Sud Haiti
                            </div>
                            <div class="project-category text-faded">
                                A Nodal Approach Towards Sustainable Tourism is a publication produced by the following collaborators.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>