<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-6">
                <a href="initial-research.html" class="portfolio-box">
                    <img src="img/portfolio/initial-research.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Locating overlapping vulnerability
                            </div>
                            <div class="project-name">
                                Initial Research
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="understanding-evictions.html" class="portfolio-box">
                    <img src="img/portfolio/understanding-evictions.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Examining the process and how is varies across America
                            </div>
                            <div class="project-name">
                                Understanding the Eviction Process
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/s1-chw-allot.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Activating existing networks with Community Health Workers to prevent evictions before they start. 
                        These workers could provide at-home assistance, accessing people in need where they need it.
                            </div>
                            <div class="project-name">
                                Existing Network & Community Health Workers
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/s2-chw-hub.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                We propose leveraging vacant spaces within the communities most in need 
                        to create new spaces for restorative resolution.
                            </div>
                            <div class="project-name">
                                Community Health Worker Hub
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s3-campaign.html" class="portfolio-box">
                    <img src="img/portfolio/s3-campaign.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Increasing access to information to assist tenants that are confronted with evictions.
                            </div>
                            <div class="project-name">
                                Campaign Strategy
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s4-memory.html" class="portfolio-box">
                    <img src="img/portfolio/s4-memory.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Raise awareness of the risks of eviction by collecting the memories of families that have been affected and removed from their homes.
                            </div>
                            <div class="project-name">
                                Eviction Memory
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>