<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <a href="initial-research.html" class="portfolio-box">
                    <img src="img/portfolio/initial-research.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                __
                            </div>
                            <div class="project-name">
                                Initial Research
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="understanding-evictions.html" class="portfolio-box">
                    <img src="img/portfolio/understanding-evictions.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                __
                            </div>
                            <div class="project-name">
                                Understanding the Eviction Process
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/s1-chw-allot.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                __
                            </div>
                            <div class="project-name">
                                Existing Network & Community Health Workers
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/s2-chw-hub.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                __
                            </div>
                            <div class="project-name">
                                Community Health Worker Hub
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="s3-campaign.html" class="portfolio-box">
                    <img src="img/portfolio/s3-campaign.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                __
                            </div>
                            <div class="project-name">
                                Campaign Strategy
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="s4-memory.html" class="portfolio-box">
                    <img src="img/portfolio/s4-memory.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                __
                            </div>
                            <div class="project-name">
                                Eviction Memory
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>