<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-6">
                <a href="initial-research.html" class="portfolio-box">
                    <img src="img/portfolio/manyatta-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Manyatta
                            </div>
                            <div class="project-category text-faded">
                                A guide to do-it-yourself infrastructure
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="understanding-evictions.html" class="portfolio-box">
                    <img src="img/portfolio/westafrica-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                WAHF Specialty Hospital
                            </div>
                            <div class="project-category text-faded">
                                A New Vision for Health in West Africa
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="understanding-evictions.html" class="portfolio-box">
                    <img src="img/portfolio/theupperdelawareriver-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                The Upper Delaware River
                            </div>
                            <div class="project-category text-faded">
                                A Citizen's Guide to Residential Development
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="understanding-evictions.html" class="portfolio-box">
                    <img src="img/portfolio/ecogowanus-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Eco-Gowanus
                            </div>
                            <div class="project-category text-faded">
                                Urban Remediation by Design
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>