<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-6">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/housingformpublicpolicy-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Housing Form and Public Policy in the United States
                            </div>
                            <div class="project-category text-faded">
                                Columbia monographs on architecture, preservation & planning
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/habiternewyork-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Habiter New York
                            </div>
                            <div class="project-category text-faded">
                                La Forme Institutionalisée de l'Habitat New Yorkais, 1850-1950
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/housingformpublicpolicy-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Housing Form and Public Policy in the United States
                            </div>
                            <div class="project-category text-faded">
                                Columbia monographs on architecture, preservation & planning
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/habiternewyork-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Habiter New York
                            </div>
                            <div class="project-category text-faded">
                                La Forme Institutionalisée de l'Habitat New Yorkais, 1850-1950
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/housingformpublicpolicy-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Housing Form and Public Policy in the United States
                            </div>
                            <div class="project-category text-faded">
                                Columbia monographs on architecture, preservation & planning
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/habiternewyork-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Habiter New York
                            </div>
                            <div class="project-category text-faded">
                                La Forme Institutionalisée de l'Habitat New Yorkais, 1850-1950
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/housingformpublicpolicy-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Housing Form and Public Policy in the United States
                            </div>
                            <div class="project-category text-faded">
                                Columbia monographs on architecture, preservation & planning
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/habiternewyork-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Habiter New York
                            </div>
                            <div class="project-category text-faded">
                                La Forme Institutionalisée de l'Habitat New Yorkais, 1850-1950
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s1-chw-allot.html" class="portfolio-box">
                    <img src="img/portfolio/housingformpublicpolicy-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Housing Form and Public Policy in the United States
                            </div>
                            <div class="project-category text-faded">
                                Columbia monographs on architecture, preservation & planning
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="s2-chw-hub.html" class="portfolio-box">
                    <img src="img/portfolio/habiternewyork-thumbnail.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Habiter New York
                            </div>
                            <div class="project-category text-faded">
                                La Forme Institutionalisée de l'Habitat New Yorkais, 1850-1950
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>