<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research</h2>
                <hr class="primary">
                <p>To better understand the conditions of eviction in America we conducted two tracks of research. 
                    The first identifies locations of overlapping vulnerability, factoring in the Social Vulnerability Index, COVID rate, and Eviction Filing Rate of counties across the US. 
                    The second track looks into eviction processes and the disparities from state to state.  </p>
                <br/>
            </div>
        </div>
    </div>
</section>
