<section id="services">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12 text-center">

    

                <br/>
                <br/>
                <br/>
                <br/>


                <h2>Bio</h2>
                <br/>

                <p>Richard Plunz is Professor of Architecture at Columbia GSAPP, 
                    where he has served as Chair of the Division of Architecture 
                    and Director of the post-professional Urban Design Program. He 
                    is also Earth Institute Professor and Director of the Urban 
                    Design Lab at Columbia. He received his engineering and architecture 
                    degrees from Rensselaer Polytechnic Institute. Faculty appointments 
                    have included Rensselaer, Penn State and the Katholieke Universiteit 
                    Leuven. He is known for a wide range of urban research, development 
                    and design projects both nationally and internationally, with 
                    a particular expertise in urban infrastructure and fabric. 
                    He has been recipient of the Andrew J. Thomas Pioneer in Housing 
                    Award from the American Institute of Architects for his contributions 
                    to housing research. A revised edition of his book, A History 
                    of Housing in New York City (Columbia 1992) is forthcoming in 2016.</p>

                <p>Plunz is the author of many articles, studies, and reports on urban 
                    development and ecology including (with M.P. Sutto), Urban Climate 
                    Change Crossroads (Ashgate 2010). His long-term study of environmental 
                    change on the Turkish Aegean coast (with S. Ozkan), Turgutreis 1974 
                    (Literatür 2016) will be released in June. Major research support 
                    has included the Ford foundation (for community development), 
                    the United Health Foundation and the Doris Duke Charitable 
                    Foundation (for urban health and food systems). His National 
                    Science Foundation support has included projects related to urban 
                    infrastructural innovation and urban coastal resilience.</p>
                


            </div>
        </div>
    </div>
</section>